# generelly do not commit pdfs as generelly are previews
*.pdf

# but explicetly commit pdfs in public folder
# since those are generated for github pages
!public/*.pdf

# maybe some example folder to not commit if exists
examples/

# All temporary latex compile files by pipeline
**/*.bcf
**/*.xml
**/*.run.xml
**/*.synctex
**/*.synctex*
**/*.synctex.gz
**/*.bcf
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
**/*.toc

# existed and caused issue in gh pages action
**/*.fdb_latexmk
**/*.fls
**/*.xdv