# generelly do not commit pdfs as generelly are previews
*.pdf

# but explicetly commit pdfs in public folder
# since those are generated for github pages
!public/*.pdf

# of course also commit appendix included pdfs
!appendix/*.pdf
!appendix/**/**.pdf

# maybe some example folder to not commit if exists
examples/

# All temporary latex compile files by pipeline
**/*.bcf
**/*.xml
**/*.run.xml
**/*.synctex
**/*.synctex*
**/*.synctex.gz
**/*.bcf
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
**/*.toc

# temporary latex compile files because of glossary
**/*.acn
**/*.acr
**/*.alg
**/*.glg
**/*.glo
**/*.gls
**/*.ist

# existed and caused issue in gh pages action
**/*.fdb_latexmk
**/*.fls
**/*.xdv
